* {
    box-sizing: border-box;
}

body {
    background-color: #4d0647;
}

.beige {
    background-color: beige;
    height: 10vh;
}

.negro {
    background-color: black;
    height: 10vh;
}

.centrar {
    display: flex;
    justify-content: center;
}

.color {
    background-color:#811078;
}